
:root{
    --primary-color: #ebdbb2;
    --non-hover:#b8bb26;
    --on-hover:#98971a;
    --secondary-color: rgb(131, 103, 199);
    --teriary-color: #c2f8cb;
    --background-color: #3c3836;
    --background-color-2: #504945;
    --background-color-3: #665c54;
}
@font-face {
    font-family:"FiraCode";
    src: url(font/FiraCode.woff);    
}
body{
    background-attachment: fixed;
    background-image: url(tex/bg.png);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}
nav{
    padding: 1%;
    background-color: var(--background-color-2) ;
    color: red;
    font-family: "FiraCode";
    color: var(--non-hover);
    width: auto;
    height:auto;
    border: 30px;
    border-radius: 3px;
}

.main{
    font-family: "FiraCode";
    color: var(--primary-color);
    padding-left: 15%;
    padding-right: 15%;
}
.second{
    border-radius: 5px;
    background-color: var(--background-color-3);
    padding-left: 5%;
    padding-right: 5%;
}
a{
    color: var(--non-hover);
    text-decoration: none;
}
a:hover{
    color: var(--on-hover);
}

.boxlink:visited{
    color: var(--primary-color)
}
.agent{
    color: var(--teriary-color);
}
.boxlink{
    border-radius: 5px;
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    font-size: 40px;
    text-align: center;
    width: auto;
    height: 1039px;
    background-color: var(--background-color-2);
}
.about{
    font-size: 20px;
    padding:0;
}
.more{
    font-family: "FiraCode";
}
.welcome{
    font-size: 30px;
    text-align: center;
    font-family: "FiraCode";
    color:var(--primary-color)
}